/**
 * Custom styles to immediately follow Tailwind’s `base` layer
 *
 * “Add things like base typography styles [or] opinionated global resets.”
 *
 * — from https://tailwindcss.com/docs/plugins#adding-base-styles
 */

/**
 * This uses the background and foreground colors declared in the
 * `theme.json` file and is applied both to the frontend and in the block
 * editor.
*/



html{
  @apply m-0 p-0 h-full;
}

body{
	@apply text-black font-body;
  @apply flex flex-col;
  @apply m-0 p-0;
  min-height:100%;
}
main{
  @apply flex-1;
}

p{
  @apply my-4;
}

ul, ol, menu {
  list-style-type: disc;
  @apply pl-4 my-4 list-disc;
  li{
    @apply mb-2;
  }
}
ul{
  list-style-type: disc;
}
ol{
  list-style-type: decimal;
}

blockquote{
  @apply m-0 p-0;
}

a {
  @apply text-primary-dark hover:text-primary underline ;
}
