@import url('https://use.typekit.net/wzw6yzl.css');
@import url('https://webfonts.fontstand.com/WF-031559-2b8cdb5c18c2686f822711d4a431fccf.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/brands.min.css');

@font-face {
  font-family: "Montserrat";
  font-weight: 400;
  src:
    local("Montserrat"),
    url("../fonts/montserrat/web/Montserrat-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "Montserrat";
  font-weight: 700;
  src:
    local("Montserrat"),
    url("../fonts/montserrat/web/Montserrat-Bold.woff2") format("woff2");
}
@font-face {
  font-family: "Montserrat";
  font-weight: 900;
  src:
    local("Montserrat"),
    url("../fonts/montserrat/web/Montserrat-Black.woff2") format("woff2");
}
@font-face {
  font-family: "Montserrat";
  font-weight: 300;
  src:
    local("Montserrat"),
    url("../fonts/montserrat/web/Montserrat-Light.woff2") format("woff2");
}

h1, .h1 {
  @apply text-4xl lg:text-7xl my-8;
}
h2, .h2 {
  @apply text-3xl lg:text-6xl my-6;
}
h3, .h3 {
  @apply text-2xl lg:text-4xl my-4;
}
h4, .h4{
  @apply text-xl lg:text-2xl font-bold my-2;
}
h5, .h5 {
  @apply text-lg lg:text-xl font-bold;
}

/* Do not padd the top of a heading if it is staring a new section. */
.container, section {
  > h1, > .h1, > h2, > .h2, > h3, > .h3, > h4, > .h4, > h5, > .h5 {
    @apply mt-0;
  }
}


